<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.3.5" targetFramework="net45" />
  <package id="Akka.Serialization.Hyperion" version="1.3.5-beta60" targetFramework="net462" />
  <package id="Akka.Streams" version="1.3.5" targetFramework="net45" />
  <package id="Akkling" version="0.9.1" targetFramework="net462" />
  <package id="Akkling.Streams" version="0.9.1" targetFramework="net462" />
  <package id="FSharp.Collections.ParallelSeq" version="1.1.0" targetFramework="net45" />
  <package id="FSharp.Core" version="4.3.4" targetFramework="net462" />
  <package id="FSharp.Data" version="2.4.6" targetFramework="net45" />
  <package id="Hyperion" version="0.9.8" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="Reactive.Streams" version="1.0.2" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net45" />
</packages>